lib/__pycache__

!data/dirty_comments/.gitkeep
!data/dirty_posts/.gitkeep
!data/format_comments/.gitkeep
!data/format_posts/.gitkeep
!data/clean_comments/.gitkeep
!output/.gitkeep

data/spanish_comments/*
data/spanish_posts/*
output/*

env

*.json