lib/__pycache__

!data/dirty_comments/.gitkeep
!data/dirty_posts/.gitkeep
!data/format_comments/.gitkeep
!data/format_posts/.gitkeep
!data/clean_comments/.gitkeep
!output/.gitkeep

data/clean_comments/*
data/dirty_comments/*
data/format_comments/*
data/dirty_posts/*
data/format_posts/*
output/*

env

Traductor-7f83f030afee.json